body{
    text-align: center;
    background-image: url("https://i.pinimg.com/564x/c9/56/57/c95657770990324bdd3ed57b4e084fff.jpg");
    background-size: cover;
}

#button_sort{
    display: none;
}

ol.guestlist>li
{
 padding-right: 35px;  

}